<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net472" />
  <package id="Expression.Blend.Sdk" version="1.0.2" targetFramework="net472" />
  <package id="FirebaseAdmin" version="1.9.1" targetFramework="net472" />
  <package id="Google.Api.Gax" version="2.7.0" targetFramework="net472" />
  <package id="Google.Api.Gax.Rest" version="2.7.0" targetFramework="net472" />
  <package id="Google.Apis" version="1.40.0" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.40.0" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.40.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Json" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Http" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Prism.Core" version="7.2.0.1422" targetFramework="net472" />
  <package id="Prism.Wpf" version="7.2.0.1422" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net472" />
  <package id="System.Interactive.Async" version="3.2.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="4.7.0" targetFramework="net472" />
  <package id="System.Text.Json" version="4.7.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net472" />
  <package id="ViceCode.Firebase.Auth" version="3.12.31.2" targetFramework="net472" />
</packages>